migration/*
*.pyc
__pycache__/
*.pyc*
shg_ijk.csv
*.egg-info
project_data/*
dataset_utils/*
analysis/slurm_logs/
tmp_raman_scaffold/data/raman_paper/slurm_scripts/gecko.code-workspace
*latex*
.venv/
test.py
calcs/